
  <div id="profileMainArea">
    <div id="pfp">
<img src="{{profile.profileImage}}"/>
    </div>
<div class="column">
    <h2>Hello {{profile.email}} </h2>
    <br>

 <div id="cringeRating">
  <h2> {{cringeLevel}}</h2>
 
  </div>  
      <p>{{profile.about}}</p>
      </div>
      </div> 

  <h2>Their Cringe</h2> 
  
    <div id="myPosts">
      {{#each profile.cringeArray}}
    <div>
      <a href="/post/{{this._id}}"><img src="{{this.imageUrl}}" /></a>
    </div>
{{/each}}
</div>