
  <div id="profileMainArea">
    <div id="pfp">
<img src="/images/cringeman.png"/>
    </div>
<div class="column">
    <h2>Hello {{email}} </h2>
    <br>

 <div id="cringeRating">
  <h2>&#128118; Cringe Kid &#128556;</h2>
  {{!-- {{cringeLevel.cringeLevel}} --}}
  </div>  

      <p>{{about}}</p>
      </div>
      </div> 
  <h2>Their Cringe</h2>

<div id="friendsList">
    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

    <div>
      <img src="/images/200pixel.png" />
    </div>

  </div>
  
      {{!-- {{#each result}}
    <div>
      <a href="/post/{{_id}}"><img src="{{imageUrl}}" /></a>
    </div>
{{/each}} --}}
